.root {
    -fx-font-family: helvetica;
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}
.gridpane{
    -fx-padding: 10px;
    -fx-min-width: 200px;
}
.contactlist{
    -fx-max-width: 120;
    -fx-max-height: 200;
}
.titlelabel{
	-fx-font-size: 25px;
	}
.box{
	-fx-padding: 10px;
    -fx-align-items: center;
    -fx-border-spacing: 10px;
    }